<!-- 
<tr style="border-top:none">
    <td style="padding:0px; padding-bottom:100px; border-top:none">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#intro">商品介紹</a></li>
            <li><a data-toggle="tab" href="#attributes">商品屬性</a></li>
            <li><a data-toggle="tab" href="#order">訂購須知</a></li>
            <li><a data-toggle="tab" href="#pay">付款方式</a></li>
        </ul>
        <div class="tab-content">
            <div id="intro" class="tab-pane fade in active" style="border-top:2px solid #333; padding:20px">
                {$singleData.text1_online}
                <br><br>
                <div style="width: 100%; border:#000000 2px solid; ">
                    {$singleData.text1}
                </div>
            </div>
            <div id="attributes" class="tab-pane fade" style="border-top:2px solid #333; padding:20px">
                {$singleData.text2_online}
                <br><br>
                <div style="width: 100%; border:#000000 2px solid; ">
                    {$singleData.text2}
                </div>
            </div>
            <div id="order" class="tab-pane fade" style="border-top:2px solid #333; padding:20px">
                {$singleData.text3_online}
                <br><br>
                <div style="width: 100%; border:#000000 2px solid; ">
                    {$singleData.text3}
                </div>
            </div>
            <div id="pay" class="tab-pane fade" style="border-top:2px solid #333; padding:20px">
                {$singleData.text4_online}
                <br><br>
                <div style="width: 100%; border:#000000 2px solid; ">
                    {$singleData.text4}
                </div>
            </div>
        </div>
    </td>
</tr> -->