Options -Indexes

#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

#Header always edit Set-Cookie ^(.*)$ "$1;HttpOnly;Secure;SameSite=None + HTTPS"

RewriteOptions inherit
<IfModule mod_rewrite.c>
  Options +FollowSymlinks -Multiviews
  RewriteEngine On
  RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php [L,E=PATH_INFO:$1]
</IfModule>
