{extend name="Public/aside" /}
{block name="title"}參數設定區 > 運費管理{/block}
{block name="css"}
    <style type="text/css">

        .frame{
            padding:10px 20px;
            border: 1.5px #9D9D9D solid;
            margin: 0px auto;
            margin-top: 10px;
            width: 99%
        }

        .frame li{
            display: inline;
        }

        .frame .add{
            color:#fff;
            font-size:20px;
            text-align:center;
            background:#333;
            padding:10px;
            border-radius:100px;
            cursor:pointer
        }
        .frame .edit{
            font-size:25px;
            display: inline-block;
            margin-left:5%;
            cursor:pointer
        }
        .switch{
            display:inline-flex;
            margin-top: 5px;
        }

        /* 新增經驗區塊 */
        .add-shipping_fee{
            position: absolute;
            background: #fff;
            padding:20px;
            width: 370px;
            height:400px;
            z-index:999;
            top:calc(50% - 400px / 2);
            left:calc(50% - 370px / 2);
        }
        .add-shipping_fee textarea{
            margin-top:-15px;
            margin-left:52px;
            width:278px;
            height:150px;
            padding:5px
        }            
        .add-shipping_fee .button{
            right:20px;
            bottom:15px;
            position:absolute;
        }

        /* 編輯 */
        .edit-item{
            position: absolute;
            border: 2px solid #9D9D9D;
            background: #fff;
            z-index: 5;
            padding: 10px;
            left: calc(5% + 55px);
            font-size: 16px;
        }
        .edit-item .switch{
            display:inline-flex;
            margin-top: 10px;
        }

        /* 表格設定 */
        table{
            width:99%;
            margin:0px auto;
            margin-top:-2px;
        }
        tr:nth-child(1) td {
            background: #E0E0E0;
            border: 2px #9D9D9D solid;
            padding-right: 5px;
        }
        td:nth-child(1){
            width:5%;
            text-align: center;
        }
        td:nth-child(2){
            width:10%;
            text-align: center;
        }
        td:nth-child(3){
            width:10%;
            text-align: center;
        }
        td:nth-child(4),
        td:nth-child(5),
        td:nth-child(6){
            width:20%;
            text-align: left;
        }
        td:nth-child(7){
            width:5%;
            text-align: center;
        }
    </style>
{/block}
{block name="content"}
    <div id="block" onclick="CloseAdd('.add-shipping_fee')"></div>

    <!-- 新增修改問答開始 -->
    <div class="add-shipping_fee none" id="Box">
        <div style="padding:10px 0px;">
            <p>運費名稱：<br>
                <input v-model="name" type="text" placeholder="請輸入名稱">
            </p>
            <p>運費金額：<br>
                <input v-model="price" type="number" placeholder="請輸入金額">
            </p>
            <p>滿額免運：<br>
                <input v-model="free_rule" type="number" placeholder="請輸入金額">
            </p>
            <p style="color:red;">備註：</p>
            <ul style="color:red;">
                {if condition="$ecpay_logistic==1"}
                    <li>若想使用綠界物流功能，請將運費名稱輸入成 「宅配」、「7-11取貨」、「全家取貨」、「萊爾富取貨」</li>
                    <li>若運費名稱輸入成「OKmart取貨」，則會顯示門市查詢按鈕，供消費者查詢門市</li>
                {else/}
                    <li>若運費名稱輸入成 「7-11取貨」、「全家取貨」、「萊爾富取貨」、「OKmart取貨」，則會顯示門市查詢按鈕，供消費者查詢門市</li>
                {/if}
                <li>「到店取貨」則一律運費為0元，即便設定其他數值也一樣</li>
            </ul>
        </div>
        <a class="button" @click="ajaxSubmit">儲存</a>
    </div>
    <!-- 新增修改問答結束 -->

    <div id="content">
        <p id="title" onclick="javascript:location.href='index.html'" style="cursor:pointer;">
            參數設定區 > 運費管理
            {neq name="searchKey" value=""}
                > 搜尋：{$searchKey}
            {/neq}
        </p>
        <div style="padding:10px 30px;">
            <form action="" name="searchForm" method="get">
                <input type="text" name="searchKey" style="text-align:center" placeholder="請輸入運費名稱">
                <a class="button" onclick="searchForm.submit();">搜尋</a>
            </form>
        </div>

        <!--新增與編輯-->
        <div class="frame">
            <span class="glyphicon glyphicon-plus add" onclick="newBlock();"></span>

            <div class="edit" onclick="Show('.edit-item')">編輯 <span class="glyphicon glyphicon-triangle-bottom"></span></div>
            <!-- 編輯開始 -->
            <div class="edit-item none">
                <a onclick="multiOnline();">
                    <font>上架&nbsp;</font>
                    <label class="switch" name="0">
                        <input type="checkbox" disabled checked><span class="slider round"></span>
                    </label>
                </a>
                <br>
                <a onclick="multiOffline();">
                    <font>下架&nbsp;</font>
                    <label class="switch" name="0">
                        <input type="checkbox" disabled><span class="slider round"></span>
                    </label>
                </a>
                <br>
                <hr style="border-top: 1px solid #333; margin:10px 0px">
                <a onclick="multiDelete();">
                    刪除 <span style="margin-left: 15px;" class="glyphicon glyphicon-trash"></span>
                </a>
            </div>
            <!-- 編輯結束 -->

            {if condition="empty($close_function['運費標籤管理'])"}
                <span style="color:red; margin-left: 25px;">「運費標籤管理」功能已啟用，運費金額為各商品套用的運費標籤金額*數量的合計，而非此處設定之運費金額</span>
            {/if}
        </div>

        <!--表格 開始-->
        <table class="tableListA">
            <tr>
                <td><input type="checkbox" class="activityCheckboxAll" onclick="$('.tableListA input[class=shipping_feeCheckbox]').prop('checked', ($(this).is(':checked')?true:false))"style="width:100%; cursor:pointer;"></td>
                <td>排序</td>
                <td style="cursor:pointer">上下架</td>
                <td>運費名稱</td>
                <td>運費金額</td>
                <td>滿額免運</td>
                <td>刪除</td>
            </tr>
            {volist name="shipping_fee" id="vo" empty="沒有數據"}
            <tr id="shipping_fee_{$vo.id}">
                <td><input type="checkbox" class="shipping_feeCheckbox" alt="{$vo.id}"></td>
                <td><input type="number" v-model = "order_id" @blur="change_order()"></td>
                <td>
                    <label class="switch">
                        <input type="checkbox" v-model="online">
                        <span class="slider round"></span>
                    </label>
                </td>
                <td><a @click="openBox">{{name}}</a></td>
                <td>{{price}}</td>
                <td>{{free_rule}}</td>
                <td><span class="glyphicon glyphicon-trash" onclick="delete_one('{$vo.id}')"></span></td>
            </tr>
            {/volist}
        </table>
        <div class="row text-center">
            {$shipping_fee->render()}
        </div>
    </div>
{/block}
{block name="ownJS"}
    <script src="__PUBLIC__/js/action.js"></script>

    <script>
    
        $(function() {
            $(document).click(function() {
                $('.edit-item').fadeOut();
            })
            $('.edit').click(function(event) {
                event.stopPropagation();
            })
        });

        Vue.prototype.blockCtrl = function (blockData) {
            $.ajax({
                url: "{:url('shippingfee/cellCtrl')}",
                type: 'POST',
                dataType: 'json',
                data: blockData,
                success: function(response) {
                    if(response.status){
                        //alert('留言成功');
                        location.reload();
                    }else{
                        alert('更改失敗');
                        console.log(response.message);
                    }
                },
                error: function(xhr) {
                    alert('更改失敗');
                    console.log(xhr);
                }
            });
        };

        Vue.prototype.createShipping_fee = function (Data) {
            $.ajax({
                url: "{:url('shippingfee/doCreate')}",
                type: 'POST',
                dataType: 'json',
                data: Data,
                success: function(response) {
                    if(response.status){
                        location.reload();
                    }else{
                        alert('新增失敗');
                        console.log(response.message);
                    }
                },
                error: function(xhr) {
                    alert('新增失敗');
                    console.log(xhr);
                }
            });
        };

        Vue.prototype.updateShipping_fee = function (Data) {
            $.ajax({
                url: "{:url('shippingfee/update')}",
                type: 'POST',
                dataType: 'json',
                data: Data,
                success: function(response) {
                    if(response.status){
                        alert('更改成功');
                        BoxVM.updateCallerData();
                    }else{
                        alert('更改失敗');
                        console.log(response.message);
                    }
                },
                error: function(xhr) {
                    alert('更改失敗');
                    console.log(xhr);
                }
            });
        };

        var Box = {name: "", price: 0, free_rule:999999999,  id: 0, caller: null}
        var BoxVM = new Vue({
            el: '#Box', 
            data: Box,
            computed: {
            },
            methods: {
                ajaxSubmit: function () {
                    var Data = {
                        name: this.name,
                        price: this.price,
                        free_rule: this.free_rule,
                    }
                    if(this.caller == 'new'){
                        this.createShipping_fee(Data);
                    }else{
                        Data.id = this.id;
                        this.updateShipping_fee(Data);
                    }
                },
                updateCallerData: function () {
                    this.caller.name = this.name;
                    this.caller.price = this.price;
                    this.caller.free_rule = this.free_rule;
                    CloseAdd('.add-shipping_fee');
                }
            }
        });

        {volist name="shipping_fee" id="vo" empty=""}
            var shipping_fee_{$vo.id} = {
                id: "{$vo.id}",
                order_id: "{$vo.order_id}",
                name: "{$vo.name}",
                price: "{$vo.price}",
                free_rule: "{$vo.free_rule}",
                online: +"{$vo.online}"
            }
            var shipping_fee_{$vo.id}_VM = new Vue({
                el: '#shipping_fee_{$vo.id}',
                data: shipping_fee_{$vo.id},
                watch: {
                    online: function () {
                        blockData = {
                            id: this.id,
                            online: this.online ? 1 : 0
                        }
                        this.blockCtrl(blockData);
                    },
                },
                methods: {
                    openBox: function () {
                        BoxVM.id = this.id;
                        BoxVM.name = this.name;
                        BoxVM.price = this.price;
                        BoxVM.free_rule = this.free_rule;
                        BoxVM.caller = this;
                        ShowAdd('.add-shipping_fee');
                    },
                    change_order: function () {
                        blockData = {
                            id: this.id,
                            order_id: this.order_id
                        }
                        this.blockCtrl(blockData);
                    },
                }
            });
        {/volist}

        function newBlock(){
            BoxVM.id = 0;
            BoxVM.name = "";
            BoxVM.price = "";
            BoxVM.free_rule = 999999999;
            BoxVM.caller = "new";
            ShowAdd('.add-shipping_fee');
        }

        function getMultiId() {
            var multiIdArray = [];
            $('.shipping_feeCheckbox').each(function () {
                if($(this).prop("checked")){
                    multiIdArray.push($(this).attr('alt'));
                    $(this).prop("checked", false);
                }
            });
            return multiIdArray;
        }

        function delete_one(id){
            if(confirm('確認刪除?')){
                location.href = '{:url('shippingfee/delete')}?id='+id;
            }
        }
        function multiDelete() {
            if(confirm("確定刪除?")){
                var form = document.createElement("form");
                form.action = "{:url('shippingfee/multiDelete')}";
                form.method = "post";

                multiId = document.createElement("input");
                multiId.value = JSON.stringify(getMultiId());
                multiId.name = "id";

                form.appendChild(multiId);
                document.body.appendChild(form);
                form.submit();
                $('.activityCheckboxAll').each(function () {
                    if($(this).prop("checked")){
                        $(this).prop("checked", false);
                    }
                });
            }
        }

        function multiOnline() {
            var multiIdArray = getMultiId();
            multiIdArray.forEach(function(element) {
                eval('shipping_fee_' + element + '.online = true;');
            });
            $('.activityCheckboxAll').each(function () {
            if($(this).prop("checked")){
                $(this).prop("checked", false);
            }
        });
        }

        function multiOffline() {
            var multiIdArray = getMultiId();
            multiIdArray.forEach(function(element) {
                eval('shipping_fee_' + element + '.online = false;');
            });
            $('.activityCheckboxAll').each(function () {
            if($(this).prop("checked")){
                $(this).prop("checked", false);
            }
        });
        }
    </script>
{/block}