{extend name="Public/mainTpl"/}
{block name="title"}{$main_layer.title} - {$frontend_menu[$controller]['name']} | {$seo[0]['title']}{/block}
{block name="Keywords"}{$main_layer.webtype_keywords}{/block}
<!--用{block name='Keywords'}改掉原本的關鍵字成新加的欄位資料-->
{block name="description"}{$main_layer.webtype_description}{/block}
<!--用{block name="description"}改掉原本的關鍵字成新加的欄位資料-->
{block name="css"}
<!-- mycss -->
{/block}

{block name="content"}
    <div class="product_search content_wrap content_block">
        <div class="anuenue_container bg_white pt_big pb_big">
            <div class="container-fluid">
                <div class="row position-relative">
                    <div class="color_block"></div>
                    <div class="color_block"></div>
                    
                    {empty name="productinfo"}
                        <h2>{$lang_menu['查無內容']}</h2>
                    {/empty}
                    {volist name="productinfo->items()" id="productvo" key='k'}
                    <!-- 一個商品 -->
                    <div class="product col-lg-4 col-md-6 col-12 pb_smal">
                        <a class="w-100 pt_big pb_xsmal d-flex flex-column align-items-center"
                           href="{:url('Product/productinfo')}?id={$productvo.id}">
                            <div class="intro_img">
                                <img src="__PUBLIC__{$productvo.pic1}">
                            </div>
                            <h2 class="mb-3 pt_medi">{$productvo.title|fat_index_text=40}</h2>
                            <div class="text-center text">
                                <p>{$productvo.Author}</p>
                            </div>
                            <div class="text-center text">
                                <p class="pt_xsmal">{$productvo['show'][0]['offerPrice']}</p>
                            </div>
                        </a>
                    </div>
                    {/volist}
                </div>
            </div>
        </div>
    </div>
{/block}

{block name="ownJS"}
<script src="__PUBLIC__/js/owl.productBrandAll.js"></script>
{/block}