<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/public/static/index/css/reset.css">
    <link rel="stylesheet" href="/public/static/index/css/layout_style.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- //////////////////////////////////////////////////////////////////////////////////////////// -->
    <!-- [if lte IE 8] [if lte IE 9] -->
    <script src="//cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/js/bootstrap-ie9.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/js/bootstrap-ie8.min.js"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="__PUBLIC__/js/jquery-1.12.4.min.js"></script> -->
    <script type="text/javascript" src="/public/static/admin/js/vue.min.js"></script>

    <link rel="stylesheet" href="/public/static/index/css/iframe_discount.css?1">
  </head>
  <body>
    <div id="block" class="position-fixed w-100 h-100 bg-dark" style="opacity: 0.8; z-index:9999; display: none;"></div>
    <div id="bg">
      <header>
        {$lang_menu['選擇優惠方式']}
        {if condition="($user.name != '')"}
          {empty name="$Front_name['優惠券專區']"}
            <a class="process_btn" href onclick="parent.location.href='{:url('Product/coupon')}'">{$lang_menu['領取優惠券']}</a>
          {/empty}
        {/if}
      </header>
      <div id="discountVM">
        <div id="member_cart_inf">
          <div id="new_info">
            {if condition="($user.name != '')"}
              {if condition="$FirstBuyDiscount==1"}
                <template v-if="discountData.firstBuyDiscount.can_use==1">
                  <div class="optionsOfferBox" @click="set_total('firstbuy_select')">
                    <div class="type" :style="{background: ck_coupon=='firstbuy_select' ? 'rgba(0%, 0%, 0%, 0.5)' : '#FFF'}"></div>
                    {$lang_menu['會員首購優惠']}&nbsp;&nbsp;{$}
                    <span v-text="discountData.firstBuyDiscount.note"></span>
                  </div>
                </template>
              {/if}

              {if condition="$VipDiscount==1"}
                <template v-if="discountData.vipDiscount.can_use==1">
                  <div class="optionsOfferBox" @click="set_total('vipdiscount_select')">
                    <div class="type" :style="{background: ck_coupon=='vipdiscount_select' ? 'rgba(0%, 0%, 0%, 0.5)' : '#FFF'}"></div>
                    {$lang_menu['VIP會員優惠']}&nbsp;&nbsp;
                    <span v-text="discountData.vipDiscount.note"></span>
                  </div>
                </template>
              {/if}

              {empty name="$Front_name['直接輸入型優惠券']"}
                <div class="optionsOfferBox" @click="set_total('directcoupon')">
                  <div class="type" :style="{background: ck_coupon.slice(0,12)=='directcoupon' ? 'rgba(0%, 0%, 0%, 0.5)' : '#FFF'}"></div>
                  {$lang_menu['請輸入優惠券代碼']}：
                  <input type="text" id="directcoupon_code_input" v-model="directcoupon_code"
                         @blur="get_direct_coupon_discount" @keydown="keydown_blur($event)">
                  <span v-if="direct_coupon_msg" v-text="direct_coupon_msg" style="color:red;"></span>
                </div>
              {/empty}

              {empty name="$Front_name['優惠券專區']"}
                <!-- 屬於會員優惠券 -->
                <div class="optionsOfferBox" @click="show_couponblock(true)">
                  <div class="type" :style="{background: ck_coupon.slice(0,6)=='coupon' ? 'rgba(0%, 0%, 0%, 0.5)' : '#FFF'}"></div>
                  <a>{$lang_menu['您有']}<span v-text="discountData.coupon.length"></span>{$lang_menu['張優惠券可以使用']}</a>
                  <div class="coupon_select_context" v-if="show_couponblock_statas">
                    <template v-for="vo in discountData.coupon">
                      <div class="conpon_select_radio" 
                           :style="{'background-color': ck_coupon=='coupon_'+vo.coupon_pool_id ? 'var(--bg-light-color)' : '#000'}"
                           @click="set_total('coupon_'+vo.coupon_pool_id)">
                        {$vo.coupon_title}
                      </div>
                    </template>
                  </div>
                </div>
              {/empty}
            {/if}

            {empty name="$Front_name['活動優惠']"}
              <div class="optionsOfferBox" @click="set_total('acts_0')">
                <div class="type" :style="{background: ck_coupon=='acts_0' ? 'rgba(0%, 0%, 0%, 0.5)' : '#FFF'}"></div>
                {$lang_menu['目前有']}<span v-text="acts_c"></span>{$lang_menu['個活動符合條件']}
                <div class="act_select_context">
                </div>
              </div>
            {/empty}

            {empty name="$Front_name['點數設定']"}
              {if condition="($user.name != '')"}
                <div class="optionsOfferBox" @click="set_total('points')">
                  <div class="type" :style="{background: ck_coupon=='points' ? 'rgba(0%, 0%, 0%, 0.5)' : '#FFF'}"></div>
                  <div id="pointDiv">
                    <template v-for="vo in discountData.points">
                      {$lang_menu['使用紅利']}：
                      <input type="number" step="1" id="point_input" size="10" v-model="pointcount"
                             @blur="set_points_discount" @keydown="keydown_blur($event)"><br>
                      {$lang_menu['目前剩餘紅利']} <span v-text="vo.point.toLocaleString('en-US')"></span>
                      |
                      {$lang_menu['本次可用']} <span v-text="points_limit.toLocaleString('en-US')"></span>
                      <input id="point_old" type="hidden" :value="'points_'+vo.point" size="10">
                    </template>
                  </div>
                </div>
              {/if}
            {/empty}
            <div class="optionsOfferBox" @click="set_total('none_discount')">
              <div class="type" :style="{background: ck_coupon=='none_discount' ? 'rgba(0%, 0%, 0%, 0.5)' : '#FFF'}"></div>
              <div>
                {$lang_menu['取消任何折扣']} 
                {empty name="$Front_name['點數設定']"}
                  ({$lang_menu['累積紅利點數']})
                {/empty}
              </div> <!--(累積紅利點數)-->
            </div>
          </div>
          <hr>
          <div id="info">
            <ul>
              <li>{$lang_menu['商品合計']}：<span>{$dolar_mark} <span v-text="discountData.Total.toLocaleString('en-US')"></span></li>
              <li>{$lang_menu['運送方式']}：<span v-text="shipping.name"></span></li>
              <li>{$lang_menu['運費']}
                <span class="freightColor" v-if="shipping.free_rule<=99999998">
                  ({$lang_menu['滿']}<span v-text="shipping.free_rule"></span>{$lang_menu['元免收取']})
                </span>：
                <span>{$dolar_mark} <span v-text="shipping.price.toLocaleString('en-US')"></span></span>
              </li>
              <li>{$lang_menu['折價']}：<span v-text="discount_msg"></span></li>
              <li class="totalColor">{$lang_menu['總計']}：{$dolar_mark}<span v-text="Total_show"></span></li>
            </ul>
          </div>
          <div id="pay">
            <a class="pay_btn send_clr arrow" @click="get_order()">{$lang_menu['前往結帳']}</a>
          </div>
        </div>
      </div>
    </div>

    <script>
      function resize() {
        var h = document.body.scrollHeight;
        contWrap = parent.document.getElementById("contWrap");
        if(contWrap){ contWrap.height = h+50; }
      }
      $(window).on("resize", function() {
        resize();
      }).resize();
    </script>
    <script>
      const discountVM_data = {
        send_way: "{$_GET['send_way'] ?? ''}",

        Total_show: 0,
        discount_msg: "{$lang_menu['扣']}{$dolar_mark}0",

        ck_coupon: 'none_discount', /*選擇優惠(預設無優惠)*/
        show_couponblock_statas: false,
        discountData:{
          Total: 0,                                   /*商品總額*/
          points: [],
          coupon: [                                   /*會員優惠券優惠金額*/
            // {coupon_pool_id:'', discount:''},                              
          ],
          firstBuyDiscount:{                          /*會員首購優惠金額*/
            can_use: 0,
            note: '',
            discount: 0,
          },
          vipDiscount:{                               /*VIP會員優惠金額*/
            can_use: 0,
            note: '',
            discount: 0,
          },
          acts: {                                     /*活動優惠「後」總金額*/
            sum: 0,
          }
        },
        directcoupon_codediscount: 0,                 /*直接輸入型優惠券優惠金額*/
        directcoupon_code: '',
        direct_coupon_msg: '',
        pointcount: 0,                                /*輸入點數*/
        points_limit: 0,
        acts_c: 0,                                    /*符合的活動數*/
        shipping:{
          price: 0,
          free_rule: 999999999,
          name: '',
        },
      };
      parent.discountVM = new Vue({
        el: '#discountVM',
        data: discountVM_data,
        methods: {
          show_couponblock: function(status=true){
            self = this;
            self.show_couponblock_statas = status;
            self.direct_coupon_msg = '';
            $(".conpon_select_radio").css("background","#FFF");
          },
          keydown_blur: function($event){
            if($event.keyCode === 13) $event.currentTarget.blur();
          },
          get_direct_coupon_discount: function(){
            self = this;
            if(!self.directcoupon_code){ self.set_total('none_discount'); return; }
            $.ajax({
              url: "/index/coupondirect/get_discount.html",
              type: 'POST',
              data: {
                user_code: self.directcoupon_code,
              },  
              success: function(resp) {
                if(resp.status==0){
                  self.direct_coupon_msg = resp.msg;
                  self.set_total('none_discount');
                }else{
                  self.direct_coupon_msg = "{$lang_menu['已套用優惠']}";
                  self.directcoupon_codediscount = resp.discount;
                  self.set_total('directcoupon_' + self.directcoupon_code);
                }
              }
            });
          },
          set_points_discount: function(){
            self = this;
            if(!self.pointcount){
              self.set_total('none_discount'); return;
            }
            if(isNaN(self.pointcount)){
              self.pointcount = 0;
              alert("{$lang_menu['內容有誤']}");
              self.set_total('none_discount'); return;
            }else{
              self.pointcount = Number(self.pointcount);
            }
            if(self.pointcount > self.discountData.Total){
              self.pointcount = self.discountData.Total;
            }
            if (self.pointcount > self.points_limit) {
              self.pointcount = 0;
              alert("{$lang_menu['超過您的點數']}");
              return;
            }
            self.set_total('points');
          },
          set_total: function(dicount_type='none_discount'){
            self = this;
            self.ck_coupon = dicount_type;
            if(self.ck_coupon=='firstbuy_select'){ /*會員首購優惠*/
              discount_num = self.discountData.firstBuyDiscount.discount;
            }
            else if(self.ck_coupon=='vipdiscount_select'){ /*VIP會員優惠*/
              discount_num = self.discountData.vipDiscount.discount;
            }
            else if(self.ck_coupon.slice(0,12)=='directcoupon'){ /*直接輸入型優惠券*/
              discount_num = self.directcoupon_codediscount;
            }
            else if(self.ck_coupon.slice(0,6)=='coupon'){ /*會員優惠券*/
              discount_num = self.coupon[self.ck_coupon];
            }
            else if(self.ck_coupon=='acts_0'){ /*活動優惠*/
              discount_num = self.discountData.Total - self.discountData['acts']['sum'];
            }
            else if(self.ck_coupon=='points'){ /*紅利點數優惠*/
              discount_num = self.pointcount;
            }
            else{
              discount_num = 0;
            }
            
            // console.log(discount_num);
            if(self.ck_coupon=='none_discount'){
              self.discount_msg = "{$lang_menu['無']}";
            }else{
              self.discount_msg = "{$lang_menu['扣']}" + discount_num.toLocaleString('en-US') + "{$lang_menu['元']}";
            }
            self.Total_show = (self.discountData.Total + self.shipping.price - discount_num).toLocaleString('en-US');
          },
          get_order: function(){
            self = this;
            discountData = {
              'discount'          : self.ck_coupon,
              'point'             : self.pointcount,
              'directcoupon_code' : self.directcoupon_code,
            }
            // console.log(discountData);
            // return discountData;
            parent.getOrder(discountData);
          },

          get_discountdata: function(){
            self = this;
            return $.ajax({
              url: "/index/cart/getdiscount_ajax.html",
              type: 'GET',
              data: {
                send_way: self.send_way,
              },  
              success: function(resp) {
                if(resp.error_msg==''){
                  self.points_limit = resp.points_limit;
                  self.discountData = resp.discountData;
                  self.acts_c = resp.acts_c;
                  self.shipping = resp.shipping;

                  self.set_total();
                  $('#block').hide();
                }
              },
            });
          }
        },
      });
    </script>
    <script>
      $('#block').show();
      parent.discountVM.get_discountdata();
    </script>
  </body>
</html>