{extend name="Public/aside" /}
{block name="title"}行銷管理區 > 價格組合設定{/block}
{block name="css"}
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/daterangepicker.css" />
    <style type="text/css">

        .frame{
            padding:10px 20px;
            border: 1.5px #9D9D9D solid;
            margin: 0px auto;
            margin-top: 10px;
            width: 99%
        }

        .frame li{
            display: inline;
        }

        .frame .add_act{
            color:#fff;
            font-size:20px;
            text-align:center;
            background:#333;
            padding:10px;
            border-radius:100px;
        }
        .frame .edit{
            font-size:25px;
            display: inline-block;
            margin-left:5%;
            cursor:pointer
        }
        .switch{
            display:inline-flex;
            margin-top: 5px;
        }

        table{
            border:none
        }

        /* 表格設定 */
        .info{
            width:99%;
            margin:0px auto;
            margin-top:-2px;
        }
        .info tr:nth-child(1) td {
            background: #E0E0E0;
            border: 2px #9D9D9D solid;
            padding-right: 5px;
        }
        .info td:nth-child(1){
            width:5%;                
            text-align: center;
        }
        .info td:nth-child(2){
            width:11%;
            text-align: center;
        }
        .info td:nth-child(3){
            width:19%;                
            text-align: center;
        }
        .info td:nth-child(4){
            width:20%;
            text-align: left;
        }
        .info td:nth-child(5){
            width:20%;                
            text-align: left;
        }
        .info td:nth-child(6){
            width:20%;                
            text-align: left;
        }
        .info td:nth-child(7){
            width:5%;
            text-align: center;
        }
        /* 編輯 */
        .edit-item{
            position: absolute;
            border: 2px solid #9D9D9D;
            background: #fff;
            z-index: 5;
            padding: 10px;
            left: calc(5% + 55px);
            font-size: 16px;
        }
        .edit-item .switch{
            display:inline-flex;
            margin-top: 10px;
        }
    </style>
{/block}
{block name="content"}
    <div id="content">
        <p id="title" onclick="javascript:location.href='index.html'" style="cursor:pointer;">
            行銷管理區 > 價格組合設定

        </p>


        <!--新增與編輯-->
        <div class="frame">
			<table style="border:1.5px #9D9D9D solid">
				<tr>
					<td><input id="name" placeholder="文字輸入(品項)"></input></td>
					<td><input id="number" placeholder="輸入折數"></input></td>
					<td><button type="button" onclick="action('add',0)" style=" background:#03a6ff; color:#fff; border:none; padding:3px 5px ; cursor:pointer; font-size:16px">新增</button></td>
				</tr>
				<tr>
					<td colspan="3" style="text-align: right;">註：如要打85折請輸入0.85</td>
				</tr>
			</table>
			
        </div>

        <!--表格 開始-->
        <table class="info" style="border:1.5px #9D9D9D solid">
            <tr>
                <td>品項</td>
                <td>折數</td>
                <td>操作</td>
            </tr>
            {volist name="dis" id="vo" empty="<tr><td colspan=2>沒有數據<td></tr>"}
                <tr>
					<td>{$vo.name}</td>
					<td>{$vo.number}</td>
					<td><button type="button" onclick="action('delete',{$vo.id})" style=" background:#03a6ff; color:#fff; border:none; padding:3px 5px ; cursor:pointer; font-size:16px">刪除</button></td>              
                </tr>
            {/volist}
        </table>
        <!--表格 結束-->
        <div class="row text-center">
        </div>
    </div>
{/block}
{block name="ownJS"}
    <script type="text/javascript" src="__PUBLIC__/js/moment.min.js"></script>  
    <script type="text/javascript" src="__PUBLIC__/js/daterangepicker.js"></script>
    <script src="__PUBLIC__/js/action.js"></script>
    
    <script>
		function action(type,id){
			
			
			var name = $('#name').val();
			var number = $('#number').val();
			
			
			if(type == 'add' && (name == '' || number == '')){
				alert('請填完整資料');
				return 0;
			}
			
			var result = (number.toString()).indexOf("0.");
			if( type== 'add' && (result == -1 || number > 1)) {
				alert("請給小於1的折");
				return 0;
			}
			
		
			$.ajax({
				type:'POST',
				data:{
					id:id,
					type:type,
					number:number,
					name:name
				},
				url:"{:url('Disset/edit')}",
				success:function(res){
					if(res.trim()=='success'){
						location.reload();
					}else{
						alert(res.trim());
					}
				}
			});
		}
		
    </script>

{/block}