{extend name="Public/aside" /}

{block name="title"}網頁編輯區 > {$frontend_menu[$table_name]['name']}{/block}

{block name="css"}

    <style type="text/css">



        .frame{

            padding:10px 20px;

            border: 1.5px #9D9D9D solid;

            margin: 0px auto;

            margin-top: 10px;

            width: 99%

        }



        .frame li{

            display: inline;

        }



        .frame .add{

            color:#fff;

            font-size:20px;

            text-align:center;

            background:#333;

            padding:10px;

            border-radius:100px;

            cursor:pointer

        }

        .frame .edit{

            font-size:25px;

            display: inline-block;

            margin-left:5%;

            cursor:pointer

        }

        .switch{

            display:inline-flex;

            margin-top: 5px;

        }



        /* 新增經驗區塊 */

        .add-news{

            position: absolute;

            background: #fff;

            padding:20px;

            width: 370px;

            height:470px !important;

            z-index:999;

            top:calc(50% - 400px / 2);

            left:calc(50% - 370px / 2);

        }

        .add-news textarea{

            margin-top:-15px;

            margin-left:52px;

            width:278px;

            height:180px;

            padding:5px

        }            

        .add-news .button{

            right:20px;

            bottom:15px;

            position:absolute;

        }



        /* 編輯 */

        .edit-item{

            position: absolute;

            border: 2px solid #9D9D9D;

            background: #fff;

            z-index: 5;

            padding: 10px;

            left: calc(5% + 55px);

            font-size: 16px;

        }

        .edit-item .switch{

            display:inline-flex;

            margin-top: 10px;

        }



        /* 表格設定 */

        table{

            width:99%;

            margin:0px auto;

            margin-top:-2px;

        }

        tr:nth-child(1) td {

            background: #E0E0E0;

            border: 2px #9D9D9D solid;

            padding-right: 5px;

        }

        td:nth-child(1){

            width:5%;

            text-align: center;

        }

        td:nth-child(2),
        td:nth-child(3){

            width:15%;

            text-align: center;

        }

        td:nth-child(4){

            width:15%;

            text-align: center;

            position:relative;

        }

        td:nth-child(5){

            width:45%;

            text-align: left;

        }

        td:nth-child(6){

            width:5%;

            text-align: center;

        }



    </style>

{/block}

{block name="content"}

    <div id="block" onclick="CloseAdd('.add-news')"></div>



    <div id="content">

        <p id="title" onclick="javascript:location.href='index.html'" style="cursor:pointer;">

            網頁編輯區 > {$frontend_menu[$table_name]['name']}

            {neq name="searchKey" value=""}

                > 搜尋：{$searchKey}

            {/neq}

        </p>

        <div style="padding:10px 30px;">

            <form action="" name="searchForm" method="get">

                <input type="text" name="searchKey" style="text-align:center" placeholder="搜尋">

                <a class="button" onclick="searchForm.submit();">搜尋</a>

            </form>

        </div>



        <!-- 新增修改問答開始 -->

        <div class="add-news none" id="Box" style="height:410px;">

            <div style="padding:10px 0px;">
                <p>排序(越小越前面)：

                    <input type="number" name="orders" v-model="orders">

                </p>
                <p>標題：

                    <input type="text" name="title" v-model="title">

                </p>                    

                <p>內容：<br>

                    <input type="hidden" v-model="content">

                    <input type="hidden" id="editor">

                </p>

            </div>

            <a class="button" @click="ajaxSubmit">儲存</a>

        </div>

        <!-- 新增修改問答結束 -->



        <!--新增與編輯-->

        <div class="frame">

            <span class="glyphicon glyphicon-plus add" onclick="newBlock();"></span>



            <div class="edit" onclick="Show('.edit-item')">編輯 <span class="glyphicon glyphicon-triangle-bottom"></span></div>

            <!-- 編輯開始 -->

            <div class="edit-item none">

                <a onclick="multiOnline();">

                    <font>上架&nbsp;</font>

                    <label class="switch" name="0">

                        <input type="checkbox" disabled checked><span class="slider round"></span>

                    </label>

                </a>

                <br>

                <a onclick="multiOffline();">

                    <font>下架&nbsp;</font>

                    <label class="switch" name="0">

                        <input type="checkbox" disabled><span class="slider round"></span>

                    </label>

                </a>

                <br>

                <hr style="border-top: 1px solid #333; margin:10px 0px">

                <a onclick="multiDelete();">

                    刪除 <span style="margin-left: 15px;" class="glyphicon glyphicon-trash"></span>

                </a>

            </div>

            <!-- 編輯結束 -->

        </div>



        <!--表格 開始-->

        <table class="tableListA">

            <tr>

                <td><input type="checkbox" class="activityCheckboxAll" onclick="$('.tableListA input[class=newsCheckbox]').prop('checked', ($(this).is(':checked')?true:false))"style="width:100%; cursor:pointer;"></td>

                <td style="cursor:pointer">上下架</td>
                <td>排序(越小越前面)</td>

                <td>上架日期</td>

                <td>標題</td>

                <td>刪除</td>

            </tr>

            {volist name="news" id="vo" empty="沒有數據"}

            <tr id="news_{$vo.id}">

                <td><input type="checkbox" class="newsCheckbox" alt="{$vo.id}"></td>

                <td>

                    <label class="switch" style="display:inline-flex; margin-top: 5px;">

                        <input type="checkbox" v-model="online">

                        <span class="slider round"></span>

                    </label>

                </td>
                <td><span v-text="orders"></span></td>
                <td>{{time}}</td>

                <td><a @click="openBox">{{title}}</a></td>

                <td><span class="glyphicon glyphicon-trash" onclick="delete_one('{$vo.id}')"></span></td>

            </tr>

            {/volist}

        </table>

        <!--表格 結束-->

        <div class="row text-center">

            {$news->render()}

        </div>

    </div>

{/block}

{block name="ownJS"}

    <script src="__PUBLIC__/js/action.js"></script>

    <script charset="utf-8" src="__PUBLIC__/js/kindeditor/kindeditor.js"></script>

    <script charset="utf-8" src="__PUBLIC__/js/kindeditor/lang/zh_TW.js"></script>

    <script>

        var editor;

        KindEditor.ready(function (K) {

            editor = K.create('#editor', {



                afterBlur: function () { this.sync(); },

                langType: 'zh_TW',

                items: [

                    'source', '|', 'hr', 'forecolor', 'fontsize', 'bold', 'italic', 'underline', '|',

                    'image', 'link', 'unlink', '|',

                    'justifyleft', 'justifycenter', 'justifyright'

                ],

                width: '100%',

                height: '300px',

                resizeType: 0

            });

        });

    </script>

    <script>

    

    $(function() {

        $(document).click(function() {

            $('.edit-item').fadeOut();

        })

        $('.edit').click(function(event) {

            event.stopPropagation();

        })

    });



    Vue.prototype.blockCtrl = function (blockData) {

        $.ajax({

            url: "{:url('news/cellCtrl')}",

            type: 'POST',

            dataType: 'json',

            data: blockData,

            success: function(response) {

                if(response.status){

                    //alert('留言成功');

                }else{

                    alert('更改失敗');

                    console.log(response.message);

                }

            },

            error: function(xhr) {

                alert('更改失敗');

                console.log(xhr);

            }

        });

    };



    Vue.prototype.createNews = function (Data) {

        $.ajax({

            url: "{:url('News/doCreate')}",

            type: 'POST',

            dataType: 'json',

            data: Data,

            success: function(response) {
                if("<h1>上傳成功</h1>"){
                    location.reload();
                }else{
                    alert('新增失敗');
                    console.log(response.message);
                }
            },

            error: function(xhr) {

                alert('新增失敗');

                console.log(xhr);

            }

        });

    };

    Vue.prototype.updateNews = function (Data) {

        $.ajax({
            url: "{:url('News/update')}",
            type: 'POST',
            data: Data,
            success: function(response) {
                // console.log(response);

                var uploadStatus = $(response).text();
                if(uploadStatus == "上傳成功"){
                    // alert('更改成功');
                    // BoxVM.updateCallerData();
                    location.reload();
                    
                }else{
                    alert('更改失敗');
                    console.log(response.message);
                }
            },
            error: function(xhr) {
                alert('更改失敗');
                console.log(xhr);
            }

        });

    };



    var Box = {id:0, content: "", title: "", caller: null, orders:0}

    var BoxVM = new Vue({

        el: '#Box', 

        data: Box,

        /*

        computed: {

            contentNl2br: function () {

                return this.content.replace(/\n/g, '<br>');

            }

        },

        */

        watch: {

            content: function (val) {

                editor.html(val);

            }

        },

        methods: {

            ajaxSubmit: function () {

                editor.sync();

                this.content = editor.html();

                this.content = this.content.replace(/\n/g, '')

                if(this.caller == 'new'){

                    this.createNews({

                        content: this.content,

                        title: this.title,
                        orders: this.orders,

                    });

                }else{

                    this.updateNews({

                        id: this.id,

                        content: this.content,

                        title: this.title,
                        orders: this.orders,

                    });

                }

            },

            updateCallerData: function () {

                this.caller.content = this.content;

                this.caller.title = this.title;
                this.caller.orders = this.orders;

                CloseAdd('.add-news');

            }

        }

    });



    {volist name="news" id="vo" empty=""}

        var news_{$vo.id} = {

            id: "{$vo.id}",

            title: "{$vo.title}",
            orders: "{$vo.orders}",

            content: "{$vo.content|addslashes}",

            time: "{$vo.time}",

            online: +"{$vo.online}"

        }

        var news_{$vo.id}_VM = new Vue({

            el: '#news_{$vo.id}',

            data: news_{$vo.id},

            watch: {

                online: function () {

                    blockData = {

                        id: this.id,

                        online: this.online ? 1 : 0

                    }

                    this.blockCtrl(blockData);

                }

            },

            methods: {

                openBox: function () {

                    BoxVM.id = this.id;

                    BoxVM.content = this.content;

                    BoxVM.title = this.title;
                    BoxVM.orders = this.orders;

                    BoxVM.caller = this;

                    ShowAdd('.add-news');

                }

            }

        });

    {/volist}



    function newBlock(){

        BoxVM.id = 0;

        BoxVM.content = "";

        BoxVM.title = "";
        BoxVM.orders = 0;

        BoxVM.caller = "new";

        ShowAdd('.add-news');

    }



    function getMultiId() {

        var multiIdArray = [];

        $('.newsCheckbox').each(function () {

            if($(this).prop("checked")){

                multiIdArray.push($(this).attr('alt'));

                $(this).prop("checked", false);

            }

        });

        return multiIdArray;

    }

    function delete_one(id){
        if(confirm("確定刪除?")){
            location.href = '{:url('news/delete')}?id='+id;
        }
    }

    function multiDelete() {
        if(confirm("確定刪除?")){
            var form = document.createElement("form");
            form.action = "{:url('news/multiDelete')}";
            form.method = "post";
            multiId = document.createElement("input");
            multiId.value = JSON.stringify(getMultiId());
            multiId.name = "id";
            form.appendChild(multiId);
            document.body.appendChild(form);
            form.submit();

            $('.activityCheckboxAll').each(function () {
                if($(this).prop("checked")){
                    $(this).prop("checked", false);
                }
            });
        }
    }

    function multiOnline() {
        var multiIdArray = getMultiId();

        multiIdArray.forEach(function(element) {

            eval('news_' + element + '.online = true;');

        });

        $('.activityCheckboxAll').each(function () {

            if($(this).prop("checked")){

                $(this).prop("checked", false);

            }

        });
    }



    function multiOffline() {

        var multiIdArray = getMultiId();

        multiIdArray.forEach(function(element) {

            eval('news_' + element + '.online = false;');

        });

        $('.activityCheckboxAll').each(function () {

            if($(this).prop("checked")){

                $(this).prop("checked", false);

            }

        });

    }



    </script>

{/block}