
@media (max-width: 1280px) {

}

@media (max-width: 1199px) {
    html {
        font-size: 14px;
    }
}
@media screen and (min-width: 576px) and (max-width: 991px){

}
@media screen and (min-width: 768px) and (max-width: 1199px){
  
}

@media (max-width: 1140px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width:992px) {

}


@media (max-width: 991px) {

    .container.max-wideVersion{
        /* overflow: hidden; */
        max-width: 991px;
        padding: 0px;
    }
    .container.max-wideVersion.pdSpacing{
        padding: 0px 10px;
    }

    .announcementRow #announcementCarousel span {
        line-height: 30px;
    }

    .announcementRow #announcementCarousel {
        padding-left: 90px;
        padding-right: 70px;
    }

    .announcementRow .announcementTitle {
        width: 90px;
    }

    .announcementRow .announcementBox a.more {
        width: 70px;

    }

    .announcementRow #announcementCarousel,
    .announcementRow .announcementTitle,
    .announcementRow .announcementBox a.more {
        height: 30px;
    }
    /* /////////////////// */
    #desktopNav{
        display: none;
    }
    #phoneMenu .wrapper header{
        margin: 1rem 0px;
    }
    .search-wrapper button:active, .search-wrapper button:focus{
        color:  #fff;
    }
    .search-wrapper button:active, .search-wrapper button:focus{
        color:  #fff;
        
    }
    /* /////////////////// */
    
}


@media (max-width: 767px) {
    html {
        font-size: 12px;
    }

}






@media (max-width: 767px) {
    html {
        font-size: 12px;
    }
}




@media (max-width: 576px) {

}

@media (max-width: 414px) {

}


@media (max-width: 375px) {

}



@media (min-width: 1281px) {

}